{% extends 'base.html' %}
{% load wysiwyg %}

{% block title  %} Login {% endblock %}

{% block js %}
    <script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
{% endblock %}

{% block body %}

    <div class="home">
		
		<form action="{% url login %}" method="post">{% csrf_token %}
					<div><span>Username</span><input type="text" name="username" id="id_username" /></div>
					<div><span>Password</span><input type="password" name="password" id="id_password" /></div>
					<div><input type="submit" name="submit" value="Login" /></div>
				</form>
        <div id="clear-both"></div>
    </div>
    
    <div id="clear-both"></div>
{% endblock %}
