{% extends 'base.html' %}

{% block title %} User Types {% endblock %}

{% block js %}
	<script>
		$(document).ready(function(){
			var elem = $(this).find('.add-folder');
			$(elem).hide();
			$(this).find('.manage-actions a.last').click(function(){
				var d = $(elem).css('display');
				if(d == 'none'){
					$(elem).show("slide", { direction: "left" }, 500);
				}else{
					$(elem).hide("slide", { direction: "left" }, 500);
				}
			});
		});
	</script>
{% endblock %}

{% block body %}
	<div class="home"><span class="title">Manage Accounts</span></div>
	<div class="line-spacer"></div>
	<div class="manage">
		<a href="{% url all-users %}"><div class="type"><div class="img"></div><span>Users</span></div></a>
		<a href="{% url all-units %}"><div class="type"><div class="img"></div><span>Units</span></div></a>
		<a href="{% url all-offices %}"><div class="type"><div class="img"></div><span>Offices</span></div></a>
		<a href="{% url all-personnel-types %}"><div class="type active"><div class="img"></div><span>User Types</span></div></a>
	</div>
	<div id="clear-both"></div>
	<div class="manage-actions">
		<a class="last">Add User Type</a>
		<div class="add-folder">
			<form method="POST" action="{% url add-personnel-type %}">{% csrf_token %}
				<input id="id_name" type="text" name="name" maxlength=120 placeholder="Enter user type here" />
				<input type='submit' value='Add' />
			</form>
		</div>
	</div>
	<br />
	<div id="clear-both"></div>
	<div class="line-spacer"></div>
	<div class="accounts-body">
		{% for type in types %}
			<div class="account">
				<a href="">{{ type }}</a>
				<div class="close {{type.id}}">X</div>
			</div>
		{% endfor %}
		<div id="clear-both"></div>
	</div>
{% endblock %}
