{% extends 'base.html' %}

{% block title %} All Files {% endblock %}

{% block body %}
	<div class="home"><span class="title">Uploaded Documents</span></div>
	<div class="line-spacer"></div>
	<br />
	<div class="fileuploads">
		{% for upload in uploads %}
			<div class="fileupload">
				<div class="filepreview"></div>
				<a class="filename" href="{% url download-file upload.id %}">{{ upload }}</a>
				<span class="date">Upload Date: {{ upload.uploaded|date:"d M Y f" }}</span>
				<span class="uploaded-by">Uploaded by: {{ upload.uploaded_by }}</span>
				<span class="filesize">File Size: {{ upload.file.size|filesizeformat }} bytes</span>
			</div>
		{% endfor %}
	</div>
{% endblock %}
