{% extends 'base.html' %}

{% block title %} File Browser {% endblock %}

{% block body %}
	<div class="home"><span class="title">File Browser</span></div>
	<div class="line-spacer"></div>
	<div class="actions">
		<a href="{% url upload-file 'None' %}">Upload Document</a>
		<a href="">Add Folder</a>
		<div style="clear:both"></div>
		<div class="add-folder">
			<form method="POST" action="{% url add-folder 'None' %}">{% csrf_token %}
				<input id="id_name" type="text" name="name" maxlength=120 />
				<input type='submit' value='Add Folder' />
			</form>
		</div>
	</div>
	<br />
	<div class="fileuploads">
		{% for folder in folders %}
			<div class="fileupload">
				<div class="filepreview"></div>
				<a class="filename" href="{% url open-folder folder.id %}">{{ folder.name }}</a><br /><br />
				<span class="date">Upload Date: {{ folder.created|date:"d M Y f" }}</span><br />
				<span class="uploaded-by">Uploaded by: {{ folder.created_by }}</span><br />
				<span class="filesize">Sub-Folders:</span><br />
			</div>
		{% endfor %}
	</div>
{% endblock %}
