@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Proxima;
	src: url('fonts/proxima.otf');
}

@font-face {
    font-family: Proxima-SBold;
	src: url('fonts/proxima-sbold.otf');
}

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,600,700);

#clear-both {
    clear: both;
}

a {
    text-decoration: none;
    color: #3e97d1;
}

b {
	font-family: Proxima-SBold;
}

.line-spacer {
	height: 5px;
	border-bottom: 1px solid #dedede;
	width: 100%;
}

body, html{
	margin: 0; 
	padding: 0;
	height: 90%;
	background-color: #FFF;
	color: #000;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.5px;
}

h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: none;
}

header {
	height: 35px;
	width: 100%;
	background-color: #000;
}

header .links {
	width: 1024px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
}

header .links .left, header .links .right {
	width: 500px;
	height: 35px;
	float: left;
}

header .links .right {
	float: right;
}

header .links .left .link, header .links .right .link {
	min-width: 10px;
	padding: 0 7px 0 7px;
	line-height: 35px;
	float: left;
	height: 32px;
}

header .links .right .link {
	float: right;
}

header .links .link:hover {
	border-bottom: 3px solid #FFF;
}

header .links .link a {
	text-decoration: None;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	color: #FFF;
}

header .links .link a span {
	font-size: 12px;
}

.banner {
	background-color: #690000;
	width: 100%;
	height: 100px;
}

.banner .wrapper {
	width: 984px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: center;
}

.banner a {
	font-family: Proxima-SBold;
	font-size: 36px;
	letter-spacing: -1px;
	color: white;
}

.bodywrapper {
	width: 1024px;
	margin: 0 auto;
}

nav {
	width: 250px;
	min-height: 30%;
	float: left;
}

nav .main {
	width: 250px;
	min-height: 50px;
}

nav .main a .link {
	width: 230px;
	height: 30px;
	padding: 10px;
	background-color: #f6f6f6;
	margin-top: 3px;
	border-left: 7px solid #141414;
	line-height: 30px;
}

nav .main a {
	color: #141414;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

nav .main a:hover  {
	color: #FFF;
	font-size: 20px;
}

nav .main a:hover .link {
	cursor: pointer;
	background-color: #141414;
	border-color: #690000;
}


nav .extras {
	width: 250px;
	min-height: 50px;
	margin-top: 50px;
}

nav .extras a {
	display: block;
	width: 230px;
	height: 14px;
	line-height: 21px;
	padding: 7px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	font-size: 15px;
	color: #141414;
}

nav .extras span {
	display: block;
	width: 230px;
	height: 14px;
	line-height: 14px;
	padding: 7px;
	background-color: #141414;
	font-size: 20px;
	font-family: Proxima-SBold;
	border: 1px solid #141414;
	color: #FFF;
}

.body {
	min-height: 30%;
	width: 734px;
	float: left;
	padding: 20px;
}

form div {
	min-height: 30px;
	width: 500px;
	margin-bottom: 5px;
}

form div span {
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	float: left;
}

form div input[type='text'], form div input[type='password'] {
	border: 1px solid #4b4b4b;
	height: 22px;
	padding-left: 5px;
	line-height: 22px;
	width: 300px;
}

form div select {
	height: 22px;
}

form div select[multiple='multiple'] {
	height: 50px;
	width: 200px;
}

form div input[type="submit"] {
	display: block;
	width: 150px;
	height: 50px;
	padding: 10px;
	background-color: #690000;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #FFF;
	font-family: Proxima;
	border-radius: 5px;
	border:0;
	cursor: pointer;
	margin-top: 10px;
}

footer {
	border-top: 1px solid #dedede;
	height: 30px;
	width: 1004px;
	margin: 0 auto;
	padding: 10px;
}

footer .wrapper {
	text-align: right;
}

footer .wrapper span {
	font-size: 12px;
	font-family: Proxima;
}

a.upload {
	display: block;
	width: 150px;
	height: 30px;
	padding: 10px;
	background-color: #690000;
	text-align: center;
	line-height: 30px;
	font-size: 22px;
	color: #FFF;
	border-radius: 5px;
}

.home {

}

.home .title {
	display: block;
	font-family: Proxima-SBold;
	font-size: 45px;
	color: #141414;
	letter-spacing: -1px;
}

.home .subtitle {
	display: block;
	font-family: Proxima;
	font-size: 15px;
	color: #141414;
	letter-spacing: -1px;
}

.home .message {
	display: block;
	font-family: Proxima;
	font-size: 26px;
	color: #141414;
	letter-spacing: -1px;
	line-height: 28px;
}

.home .message.small {
	font-size: 20px;
	line-height: 22px;
}

.fileuploads {

}

.fileuploads .fileupload {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #dedede;
	padding: 10px;
}

.fileuploads .fileupload:hover {
	background-color: #dedede;
}

.fileuploads .fileupload .filepreview {
	width: 90px;
	height: 100px;
	background-color: #CCC;
	float: left;
	margin-right: 10px;
}

.fileuploads .fileupload a, .fileuploads .fileupload span {
	display: block;
	min-width: 50px;
	float: left;
}

.fileuploads .fileupload .filename {	
	height: 35px;
	font-size: 25px;
}

.fileuploads .fileupload .date, .fileuploads .fileupload .uploaded-by, .fileuploads .fileupload .filesize {
	height: 14px;
	font-size: 12px;
}

.fileuploads .fileupload .fileactions a {
	display: block;
	width: 50px;
	height: 10px;
	padding: 3px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #141414;
	font-family: Proxima;
	float: left;
	margin: 0;
	cursor: pointer;
}

.fileuploads .fileupload .fileactions a.last {
	border-right: 1px solid #d3d3d3;
}

.actions {
	width: 834px;
	min-height: 30px;
	padding: 10px;
}

.actions a {
	display: block;
	width: 120px;
	height: 20px;
	padding: 5px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #141414;
	font-family: Proxima;
	float: left;
}

.actions a.last {
	border-right: 1px solid #d3d3d3;
}

.actions a:hover {
	background-color: #4188d2;
}

.actions .add-folder {
	width: 250px;
	height: 25px;
	float: left;
}

.actions .add-folder form input[type="text"] {
	width: 170px;
	height: 28px;
	line-height: 23px;
	font-size: 13px;
	border: 1px solid #d3d3d3;
	border-left: 0;
	border-right: 0;
	padding-left: 5px;
	float: left;
	font-family: Proxima;
}

.actions .add-folder form input[type="submit"] {
	width: 50px;
	height: 32px;
	padding: 5px;
	background-color: #f6f6f6;
	border: 1px solid #d3d3d3;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #141414;
	font-family: Proxima;
	float: left;
	cursor: pointer;
}

.actions .add-folder form input[type="submit"]:hover {
	background-color: #4188d2;
}

.actions .date, .actions .uploaded-by  {
	display: block;
	margin-top: 5px;
	margin-right: 7px;
	float: left;
}

.manage {
	width: 734px;
	min-height: 20px;
	padding-top: 10px;
}

.manage .type {
	width: 160px;
	height: 50px;
	background-color: #f6f6f6;
	margin-bottom: 3px;
	margin-right: 5px;
	padding: 5px;
	text-align: left;
	border-left: 7px solid #141414;
	float: left;
}

.manage .type .img {
	height: 25px;
	width: 25px;
	float: left;
	margin-right: 5px;
	background-color: #4b4b4b;
	margin-top: 15px;
}

.manage .type .add {
	height: 50px;
	width: 50px;
	float: right;
	margin-left: 10px;
	background-color: #4b4b4b;
}

.manage .type span {
	display: block;
	font-size: 25px;
	margin-top: 10px;
	float: left;
}

.manage .type:hover {
	cursor: pointer;
	background-color: #4b4b4b;
	border-color: #690000;
	color: #FFF;
}

.manage .type:hover .img {
	background-color: #FFF;
}

.submanage {
	width: 734px;
	min-height: 20px;
	padding-top: 10px;
}

.submanage .type {
	width: 160px;
	height: 30px;
	background-color: #f6f6f6;
	margin-bottom: 3px;
	margin-right: 5px;
	padding: 5px;
	text-align: left;
	border-left: 7px solid #141414;
	float: left;
}

.submanage .type .img {
	height: 25px;
	width: 25px;
	float: left;
	margin-right: 5px;
	background-color: #4b4b4b;
	margin-top: 3px;
}

.submanage .type span {
	display: block;
	font-size: 15px;
	margin-top: 5px;
	float: left;
	letter-spacing: 1px;
}

.submanage .type:hover {
	cursor: pointer;
	background-color: #4b4b4b;
	border-color: #690000;
	color: #FFF;
}

.submanage .type:hover .img {
	background-color: #FFF;
}
