@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Ebrima;
	src: url('fonts/ebrima.ttf');
}

@font-face {
    font-family: Ebrima-Bold;
	src: url('fonts/ebrimabd.ttf');
}

@font-face {
    font-family: Segan;
	src: url('fonts/Segan-Light.ttf');
}

@font-face {
    font-family: Proxima;
	src: url('fonts/proxima.otf');
}

@font-face {
    font-family: Proxima-SBold;
	src: url('fonts/proxima-sbold.otf');
}

@font-face {
    font-family: Tex;
	src: url('fonts/texgyreschola-regular.otf');
}

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

#clear-both {
    clear: both;
}

a {
    text-decoration: none;
    color: #3e97d1;
}

b {
	font-family: Proxima-SBold;
}

.line-spacer {
	height: 5px;
	border-bottom: 1px solid #dedede;
	width: 100%;
}

body, html{
	margin: 0; 
	padding: 0;
	height: 90%;
	background-color: #FFF;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
}

header {
	height: 35px;
	width: 100%;
	background-color: #000;
}

header .links {
	width: 1024px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
}

header .links .left, header .links .right {
	width: 500px;
	height: 35px;
	float: left;
}

header .links .right {
	float: right;
}

header .links .left .link, header .links .right .link {
	min-width: 10px;
	padding: 0 7px 0 7px;
	line-height: 35px;
	float: left;
	height: 32px;
}

header .links .right .link {
	float: right;
}

header .links .link:hover {
	border-bottom: 3px solid #FFF;
}

header .links .link a {
	text-decoration: None;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	color: #FFF;
}

header .links .link a span {
	font-size: 12px;
}

.banner {
	background-color: #690000;
	width: 100%;
	height: 100px;
}

.banner .wrapper {
	width: 984px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: center;
}

.banner a {
	font-family: Proxima-SBold;
	font-size: 36px;
	letter-spacing: -1px;
	color: white;
}

.bodywrapper {
	width: 1024px;
	margin: 0 auto;
}

nav {
	width: 250px;
	min-height: 30%;
	float: left;
}

nav a {
	display: block;
	width: 230px;
	height: 14px;
	line-height: 21px;
	padding: 7px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	font-size: 15px;
	font-family: Proxima;
	color: #141414;
}

nav a:hover {
	border-left: 4px solid #690000;
	padding-left: 15px;
	width: 219px;
	cursor: pointer;
	background-color: #e6e6e6;
}

.body {
	min-height: 30%;
	width: 734px;
	float: left;
	padding: 20px;
}

form div {
	min-height: 30px;
	width: 500px;
	margin-bottom: 5px;
}

form div span {
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	float: left;
}

form div input[type='text'], form div input[type='password'] {
	border: 1px solid #4b4b4b;
	height: 22px;
	padding-left: 5px;
	line-height: 22px;
	width: 300px;
}

form div select {
	height: 22px;
}

form div select[multiple='multiple'] {
	height: 50px;
	width: 200px;
}

form div input[type="submit"] {
	display: block;
	width: 150px;
	height: 50px;
	padding: 10px;
	background-color: #690000;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #FFF;
	font-family: Proxima;
	border-radius: 5px;
	border:0;
	cursor: pointer;
	margin-top: 10px;
}

footer {
	border-top: 1px solid #dedede;
	height: 30px;
	width: 1004px;
	margin: 0 auto;
	padding: 10px;
}

footer .wrapper {
	text-align: right;
}

footer .wrapper span {
	font-size: 12px;
	font-family: Proxima;
}

a.upload {
	display: block;
	width: 150px;
	height: 30px;
	padding: 10px;
	background-color: #690000;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #FFF;
	font-family: Proxima;
	border-radius: 5px;
}

.home {

}

.home .title {
	display: block;
	font-family: Proxima-SBold;
	font-size: 45px;
	color: #141414;
	letter-spacing: -1px;
}

.home .subtitle {
	display: block;
	font-family: Proxima;
	font-size: 15px;
	color: #141414;
	letter-spacing: -1px;
}

.home .message {
	display: block;
	font-family: Proxima;
	font-size: 26px;
	color: #141414;
	letter-spacing: -1px;
	line-height: 28px;
}

.home .message.small {
	font-size: 20px;
	line-height: 22px;
}

.fileuploads {

}

.fileuploads .fileupload {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #dedede;
	padding: 10px;
}

.fileuploads .fileupload .filepreview {
	width: 90px;
	height: 100px;
	background-color: #CCC;
	float: left;
	margin-right: 10px;
}

.fileuploads .fileupload a, .fileuploads .fileupload span {
	display: block;
	width: 854px;
}

.fileuploads .fileupload .filename {	
	height: 35px;
	font-size: 25px;
}

.fileuploads .fileupload .date, .fileuploads .fileupload .uploaded-by, .fileuploads .fileupload .filesize {
	height: 14px;
	font-size: 12px;
}

