{% extends 'base.html' %}

{% block title %} Gazette {% endblock %}

{% block body %}
	<div class="home"><span class="title">The UP Gazette</span></div>
	<div class="line-spacer"></div>
	<div class="gazette">
		{% for subfolder in subfolders %}
			<div class="folder">
				<span class="name">{{ subfolder.name }}</span>
				{% for x in files %}
					{% for file in x.files %}
						{% if file.folder == subfolder %}
							<div class="file"><a href="{% url download-file file.id %}">{{ file.filename }}</a></div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
