{% extends 'base.html' %}
{% load wysiwyg %}

{% block title  %} {{ page.title|title }} {% endblock %}

{% block body %}

    <div class="home">
		{% if not form %}
			<div class="no-font-style">
				{% autoescape off %}
					{{ page.content }}
				{% endautoescape %}
			</div>
			{% if request.user.is_superuser %}
				<a href="{% url edit-page page.name %}">Edit</a>
			{% endif %}
		{% endif %}
		
		<div id="clear-both"></div>
		
		{% if form %}
			{% wysiwyg_setup %}
			<form class="wysiwyg" action="{% url edit-page page.name %}" method="post">{% csrf_token %}
				<input type="hidden" id='id_name' name='name' value="{{ page.name }}" />
				<textarea id="id_content" name="content">
					{% autoescape off %}
						{{ page.content }}
					{% endautoescape %}
				</textarea>
				<br />
				<input type="submit" value="Submit" />
			{% wysiwyg_editor "id_content" %}
			</form>
			
		{% endif %}
		<div id="clear-both"></div>
	</div>
	<div id="clear-both"></div>
{% endblock %}
