{% extends 'base.html' %}

{% block title  %} BOR {% endblock %}

{% block js %}
    <script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
{% endblock %}

{% block body %}

    <div class="home">
		
		<span class="title">Board of Regents</span>
		<span class="subtitle">University of the Philippines</span>
		<br /><br />

		<span class="message small">The governance of the University is vested in the Board of Regents of the University of the Philippines System (or Lupon ng mga Rehente in Filipino and commonly abbreviated as BOR. [Republic Act 9500 An Act to Strengthen the University of the Philippines as the National University] The board, with its 12 members, is the highest decision-making body of the UP System.</span>
		<br />
		<span class="message small">The Chairperson of the Commission on Higher Education (CHED) serves as the Board's acting Chairperson while the President of the University of the Philippines is the Co-Chairperson. The Chairpersons of the Committees of Higher Education of the Senate and the House of Representatives are members of the UP Board of Regents which are concurrent with their functions as committee chairpersons. [Republic Act 9500 An Act to Strengthen the University of the Philippines as the National University]</span>
		<br />
		<span class="message small">UP students, represented by the General Assembly of Student Councils, nominate a Student Regent. While the Faculty Regent is likewise nominated by the faculty members of the whole University. Alumni are represented by the President of the UP Alumni Association. A Staff Regent, representing professional and administrative personnel, was included with the passage of the new UP charter in 2008. The remaining members of the Board of Regents (two of whom are alumni of the University) are nominated into the position by the President of the Philippines.</span>
		<br />
		<span class="message small">As of 2008, the members of the Board of Regents of the University of the Philippines System are:</span>
		<br />
		<div class="bor">
			
		</div>
		<br /><br />
    
		<div id="clear-both"></div>
	</div>
	
{% endblock %}
