{% extends 'base.html' %}

{% block title  %} About {% endblock %}

{% block extra_head %}
    <link href="{{MEDIA_URL}}css/contact.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
        
        });
    </script>
{% endblock %}

{% block body %}

    <div class="contact">
        <span class="large">{ web developer | photographer }</span>
        <div id="clear-both"></div>
    </div>
    
    <div id="clear-both"></div>
{% endblock %}
