<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>OSU | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico" >
        <link href="{{MEDIA_URL}}style.css" rel="stylesheet" type="text/css" />
        <script src="{{MEDIA_URL}}js/jquery.min.js"></script>
        <script src="{{MEDIA_URL}}js/jquery-ui.min.js"></script>
        <script src="{{MEDIA_URL}}js/dropdown.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600,700' rel='stylesheet' type='text/css'>
        <script>
            $.ajaxSetup({ 
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 } 
            });
            
            $(document).ready(function(){
                var h = window.innerHeight;
                $(".body").css('min-height', h-335);
            });
        </script>
        {% block js  %}{% endblock %}
        {% block css %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="links">
				<div class="left">
					<div class="link"><a href="/">Home</a></div>
					<div class="link"><a href="/about.html">About</a></div>
					<div class="link"><a href="/contact.html">Contact</a></div>
					<div class="link"><a href="/admin">Site Admin</a></div>
				</div>
				<div class="right">
					{% if request.user.is_authenticated %}
						<div class="link"><a href="{% url logout %}">Logout</a></div>
						<div class="link"><a href=""><span>logged in as</span> {{request.user}}</a></div>
					{% endif %}
				</div>
            </div>
        </header>
        <div style="clear:both"></div>
        <div class="banner">
			<div class="wrapper">
				<a href="/">Office of the Secretary University and of the Board of Regents</a>
            </div>
        </div>
		<div class="bodywrapper">
			<nav>
				<div class="main">
					<a href="/"><div class="link">Home</div></a>
					<a href="/about.html"><div class="link">About OSU</div></a>
					<a ><div class="link">The UP Board of Regents</div></a>
					<a ><div class="link">The UP Gazette</div></a>
					<a ><div class="link">Administrative Issuances</div></a>
					<a href="/contact.html"><div class="link">Contact Us</div></a>
				</div>
				<div class="extras">
					<span>Extras</span>
					{% if request.user.is_superuser %}
						<a href="{% url main-folders %}">File Browser</a>
						<a href="{% url manage-accounts %}">Manage Accounts</a>
					{% endif %}
				</div>
			</nav>
			<div class="body">
				{% block body %}{% endblock %}
			</div>
			<div style="clear:both"></div>
        </div>
        <footer>
            <div class="wrapper">
				<span>Copyright © 2009-2012 OSUweb. All Rights Reserved.</span>
			</div>
        </footer>
        <div style="clear:both"></div>
    </body>
</html>
