<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>OSU | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico" >
        <link href="{{MEDIA_URL}}style.css" rel="stylesheet" type="text/css" />
        <script src="{{MEDIA_URL}}js/jquery.min.js"></script>
        <script src="{{MEDIA_URL}}js/jquery-ui.min.js"></script>
        <script src="{{MEDIA_URL}}js/dropdown.js"></script>
        <script>
            $.ajaxSetup({ 
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 } 
            });
            
            $(document).ready(function(){
                var h = window.innerHeight;
                $(".body").css('min-height', h-335);
            });
        </script>
        {% block js  %}{% endblock %}
        {% block css %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="links">
				<div class="link"><a href="/">Home</a></div>
				<div class="link"><a href="/admin">Site Admin</a></div>
				{% if request.user.is_authenticated %}
					<div class="link"><a href="{% url logout %}">Logout</a></div>
				{% endif %}
            </div>
        </header>
        <div class="banner">
            <a href="/"><h1>eOSU Project</h1></a>
        </div>
        <nav>
			{% if request.user.is_superuser %}
				<div class="main">
					<a class="link" href="{% url all-units %}">UP Units</a>
					<div class="sub">
						<a href="{% url all-units %}">All</a>
						<a href="{% url add-unit %}">Add</a>
					</div>
				</div>
				<div class="main">
					<a class="link" href="{% url all-personnel-types %}">Personnel Type</a>
					<div class="sub">
						<a href="{% url all-personnel-types %}">All</a>
						<a href="{% url add-personnel-type %}">Add</a>
					</div>
				</div>
				<div class="main">
					<a class="link" href="{% url all-offices %}">Offices</a>
					<div class="sub">
						<a href="{% url all-offices %}">All</a>
						<a href="{% url add-office %}">Add</a>
					</div>
				</div>
				<div class="main">
					<a class="link" href="{% url all-users %}">Users</a>
					<div class="sub">
						<a href="{% url all-users %}">All</a>
						<a href="{% url add-user %}">Add</a>
					</div>
				</div>
			{% endif %}
        </nav>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="wrapper">
            
            </div>
        </footer>
        <div style="clear:both"></div>
    </body>
</html>
