{% extends 'base.html' %}

{% block title  %} Contact {% endblock %}

{% block js %}
    <script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
{% endblock %}

{% block body %}

    <div class="home">
		
		<span class="title">Contact OSU</span>
		<br /><br />
		<span class="message"><b>Office of the Secretary of the University</b></span>
		<span class="message small">Quezon Hall, Ground Floor [North Wing]</span>
		<span class="message small">University of the Philippines Campus</span>
		<span class="message small">Diliman, Quezon City</span>
		<br />
		<span class="message small">Telephone: 9206897; 9818500 VoIP 2534</span>
		<span class="message small">Email Address: osu@up.edu.ph</span>
		<br /><br />
    
		<div id="clear-both"></div>
	</div>
	
{% endblock %}
